# Ignore data files
# Data 文件夹仅保留骨架，具体内容不要进 git
data/raw/bmx-trees/bmx-trees
data/raw/bmx-trees/bmx-trees_mask
data/raw/davis/DAVIS
data/raw/temp
data/raw/tennis/tennis
data/raw/tennis/tennis_mask


# Results 文件夹仅保留骨架，具体内容不要进 git
results/masks/part1
results/masks/part2
results/masks/part3

# Models 文件夹仅保留骨架，具体内容不要进 git
models/yolo_v8_seg
models/sam2
models/ProPainter

# 生成视频文件夹仅保留骨架
results/videos/part1
results/videos/part2
results/videos/part3

# PyTorch 编译缓存
.tmp/
torchinductor_*/